# Exercise 1: Your first DataFrame

In [1]:
import numpy as np
import pandas as pd

data = np.array([
    [1, 'Blue', [1, 2], 1.1],
    [3, 'Red', [3, 4],	2.2],
    [5, 'Pink', [5, 6], 3.3],
    [7, 'Grey', [7, 8],	4.4],
    [9, 'Black', [9, 10],	5.5]
], dtype=object)

df = pd.DataFrame(data, columns=[' ', 'color', 'list', 'number'])

df = df.set_index(' ')
print(df.columns)

df.dtypes

print(df.iloc[0].apply(type))

# print(type(df.iloc[0, 0]))
# print(type(df.iloc[0,1]))
# print(type(df.iloc[0,2]))

Index(['color', 'list', 'number'], dtype='object')
color       <class 'str'>
list       <class 'list'>
number    <class 'float'>
Name: 1, dtype: object

# Exercise 2: Electric power consumption

In [2]:
df = pd.read_csv('household_power_consumption.txt', delimiter=';')

#Delete the columns Time, Sub_metering_2 and Sub_metering_3
df.drop(columns=['Time', 'Sub_metering_2', 'Sub_metering_3'], inplace=True)

#Set Date as index
df.set_index('Date', inplace=True)

#Create a function that takes as input the DataFrame with the data set and returns a DataFrame with updated types:
def update_types(df):
    df.index = pd.to_datetime(df.index, errors='coerce')
    for column in df:
        df[column] = pd.to_numeric(df[column], errors='coerce')
    return df
df = update_types(df)
df.index

/tmp/ipykernel_157263/795484459.py:1: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('household_power_consumption.txt', delimiter=';')
/tmp/ipykernel_157263/795484459.py:11: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df.index = pd.to_datetime(df.index, errors='coerce')

DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16', '2006-12-16',
               ...
               '2010-11-26', '2010-11-26', '2010-11-26', '2010-11-26',
               '2010-11-26', '2010-11-26', '2010-11-26', '2010-11-26',
               '2010-11-26', '2010-11-26'],
              dtype='datetime64[ns]', name='Date', length=2075259, freq=None)

In [3]:
#Use describe to have an overview on the data set
df.describe()

#Delete the rows with missing values
df.dropna(inplace=True)

#Modify Sub_metering_1 by adding 1 to it and multiplying the total by 0.06. If x is a row the output is: (x+1)*0.06
df['Sub_metering_1'] = (df['Sub_metering_1']+1)*0.06

#Select all the rows for which the Date is greater or equal than 2008-12-27 and Voltage is greater or equal than 242
date_voltage = df[(df.index >= '2008-12-27') & (df['Voltage'] >= 242)]

#Print the 88888th row.
print(df.iloc[88887])

#What is the date for which the Global_active_power is maximal ?

max_power_date = df['Global_active_power'].idxmax()
# max_power_date = df['Global_activate_power'].max().df.index
#Sort the first three columns by descending order of Global_active_power and ascending order of Voltage.
df.sort_values(by=['Global_active_power', 'Voltage'], ascending=[False, True], inplace=True)

#Compute the daily average of Global_active_power.
daily_average = df.groupby(df.index)['Global_active_power'].mean()
daily_average

Global_active_power        0.254
Global_reactive_power      0.000
Voltage                  238.100
Global_intensity           1.200
Sub_metering_1             0.060
Name: 2007-02-16 00:00:00, dtype: float64

Date
2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
                ...
2010-11-22    1.417733
2010-11-23    1.095511
2010-11-24    1.247394
2010-11-25    0.993864
2010-11-26    1.178230
Name: Global_active_power, Length: 1433, dtype: float64

# Exercise 3: E-commerce purchases

In [4]:
# How many rows and columns are there?
import numpy as np
import pandas as pd

df = pd.read_csv('Ecommerce_purchases.txt')

# How many rows and columns are there?
df.info()

# What is the average Purchase Price?
print('Average Purchase Price:', df['Purchase Price'].mean())
# What were the highest and lowest purchase prices?
print('Highest Purchase Price', df['Purchase Price'].max())
print('Lowest Purchase Price', df['Purchase Price'].min())

# How many people have English 'en' as their Language of choice on the website?
en_number = df[df['Language'] == 'en']['Language'].count()
print('The number of English people:', en_number)

# How many people have the job title of "Lawyer" ?
lawyers = df[df['Job'] == 'Lawyer']['Job'].count()
print('The number of lawyers:', lawyers)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB
Average Purchase Price: 50.347302
Highest Purchase Price 99.99
Lowest Purchase Price 0.0
The number of English people: 1098
The number of lawyers: 30

In [5]:
# How many people made the purchase during the AM and how many people made the purchase during PM ?
am = 0
pm = 0
for row in df['AM or PM']:
    if row == 'AM':
        am += 1
    else:
        pm += 1
print('The AM purchases: %s \nThe PM purchases: %s' % (am, pm))

# What are the 5 most common Job Titles?
top_5_jobs = df.value_counts(df['Job'])
top_5_jobs.head(5)

# Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?
price_lot_90WT = df[df['Lot'] == '90 WT']['Purchase Price'].values
print('The purchase price of the Lot "90 WT":', price_lot_90WT)

# What is the email of the person with the following Credit Card Number: 4926535242672853
email_by_card = df[df['Credit Card'] == 4926535242672853]['Email'].values
print('The email of the person with a Credit Card Number "4926535242672853" is', email_by_card)

# How many people have American Express as their Credit Card Provider and made a purchase above $95?
american_express = df[(df['Purchase Price'] > 95) & (df['CC Provider'] == 'American Express')]['Purchase Price'].count()
print('The number of people having American Express as their CC Provider and made a purchase above $95 is', american_express)

# How many people have a credit card that expires in 2025?
expiry_2025 = df[df['CC Exp Date'] == 2025]['CC Exp Date'].count()
print('There are', expiry_2025, 'people having CC expiry date in 2025')

#What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)
top_email_providers = df['Email'].str.split('@', n=1, expand=True).value_counts(1).head(5).keys().values[:]
print("The 5 most popular email provders in the data:", top_email_providers)

The AM purchases: 4932
The PM purchases: 5068
The purchase price of the Lot "90 WT": [75.1]
The email of the person with a Credit Card Number "4926535242672853" is ['bondellen@williams-garza.com']
The number of people having American Express as their CC Provider and made a purchase above $95 is 39
There are 0 people having CC expiry date in 2025
The 5 most popular email provders in the data: ['hotmail.com' 'yahoo.com' 'gmail.com' 'smith.com' 'williams.com']

# Exercise 4: Handling missing values

In [6]:
import pandas as pd

df = pd.read_csv('iris.csv')
df.drop(columns=' flower', inplace=True)
df.isnull().any()

# Fill the missing values with a different "strategy" for each column:
def numeric(df): # All dtypes, besides 1, are objects; thus, we need to change the data types to numeric in order to conduct calculations in the future
    for col in df:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    return df
df = numeric(df)

# sepal_length -> mean
df['sepal_length'].fillna(df['sepal_length'].mean(), inplace=True)

# sepal_width -> median
median = df['sepal_width'].median()
df['sepal_width'].fillna(df['sepal_width'].mean(), inplace=True)

# petal_length, petal_width -> 0
for col in df:
    if col == 'petal_length':
        df[col].fillna(0, inplace=True)
    elif col == 'petal_width':
        df[col].fillna(0, inplace=True)

df.isnull().any()
df.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width
0           0           5.1          3.5           1.4          0.2
1           1           4.9          3.0           1.4          0.2
2           2           4.7          3.2           1.3          0.2
3           3           4.6          3.1           1.5          0.2
4           4           5.0         -3.6          -1.4          0.2

In [7]:
import pandas as pd

df = pd.read_csv('iris.csv')
df.drop(columns=' flower', inplace=True)
df.isnull().any()

def numeric(df): 
    for col in df:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    return df
df = numeric(df)

# Fill the missing values using the median of the associated column using fillna.

for col in df:
    df[col].fillna(df[col].median(), inplace=True)


df.isnull().any()
df.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width
0           0           5.1          3.5           1.4          0.2
1           1           4.9          3.0           1.4          0.2
2           2           4.7          3.2           1.3          0.2
3           3           4.6          3.1           1.5          0.2
4           4           5.0         -3.6          -1.4          0.2